@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Authorization" asp-action="Login">Войти</a>
    <a asp-controller="Authorization" asp-action="Register">Регистрация</a>

</div>
